body {
    background-color: #333333;
    .form_wrap{
        width: 300px;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form_header {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: #fff;
        h2 {
            width: 0;
            flex: 1;
            margin: 0;
            color: #fff;
        }
        span {
            cursor: pointer;
        }
    }

    .login-form{
        .login-form-button{
            width: 100%;
        }
    }
}
